body {
    background: rgb(85, 85, 233);
    font:normal ligth Arial


}

header {
    color: white;
    text-align: center;

}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.521);

}
 footer{
    color: white;
    text-align: center;
    font-style: italic;

 }
 
 div {
     text-align: center;
     padding: 8px;
 }

 #imagem {
     width: 250px;
     height: 250px;
     border-radius:100%;
 }

 #foto {
     width: 250px;
     height: 250px;
     border-radius: 100%;
     margin-top: 20px;
     border-style: solid;
     border-color: rgb(85, 85, 233);
     
 }

 #txtano {
     width: 50%;
     height: 20px;
     padding: 20px;
 }